nav > ul > li {
    display: inline;
    text-decoration: none;

}
nav li > a{
    text-decoration: none;
}
footer >div {
    color: blueviolet;
    background-color: pink;
    border: 5px solid black;
    margin-top: 60px;
    text-align:center;
    text-decoration: underline;
}